.about__container {
    margin: 1rem;
    background: rgba(239, 239, 239, 0.169);
}

.about__one {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    max-width: 60%;
    justify-content: center;
}

.about__one .p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.about__one .h2 {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.about__two {
    background: #fff;
    display: flex;
    gap: 3rem;
    padding: 20px;
}

.text__section {
    width: 50%;
}

.about__two h3 {
    font-size: 2.1rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}

.about__two .p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

/* Image Styling */
.image__styled {
    width: 100%; /* Image should be responsive */
    max-width: 500px;
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px; /* Smooth rounded corners */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Stronger shadow for a better effect */
}



@media screen and (max-width: 750px) {
    .about__one {
        margin: auto;
        width: 80%;
        max-width: 100%;
    }

    .about__one .h2 {
        font-size: 1.5rem;
        text-align: left;
    }

    .about__two {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .about__two .h3{
        font-size: 1.5rem;
    }

    .text__section {
        width: 100%;
    }

    .about__two img {
        width: 100%;
        max-width: 100%;
    }
}





