* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.glass-bg {
  background: rgba(255, 255, 255, 0.2);  /* Light transparent background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
  backdrop-filter: blur(10px);  /* Blur effect */
  border-radius: 8px;  /* Rounded corners */
  border: 1px solid rgba(255, 255, 255, 0.3);  /* Light border */
}
